<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="at.itkolleg.android.noterra">

    <!-- Gewährleistet den zugriff auf die camera des systems -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!-- Google Maps permissions -->
    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>

    <uses-permission android:name="com.vogella.android.locationapi.maps.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"

            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <uses-library android:name="com.google.android.maps"/>

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

        <activity
                android:name=".startup"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:label="@string/app_name"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
                android:name=".FormActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:label="@string/title_activity_form"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".NotesActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:windowSoftInputMode="adjustPan"
                android:label="@string/title_activity_notes"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".GpsActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:label="@string/title_activity_gps"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".SummaryActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:label="@string/title_activity_summary"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".InspectionActivity"
                android:label="@string/title_activity_inspection"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".GpsHandler"
                android:label="@string/title_activity_gps_handler">
        </activity>
        <!-- Dieser Google Key ist für das Ausführen der App in der Enwicklungsumgebung-->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBEBiMoIUX7sxnvRaEt8PHsMOUQJLNxWHs" />

        <!-- Dieser Google Key ist für das Ausführen der standalone anwendung-->
        <!--
        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyDPIQPHoveJ82POg6reLYtBHy4Mg7-UmCY"/> -->


        <activity
                android:name=".Holzablagerung"
                android:label="@string/title_activity_holzablagerung"
                android:theme="@style/AppTheme"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".Ablagerung"
                android:label="@string/title_activity_ablagerung"
                android:theme="@style/AppTheme"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".Holzbewuchs"
                android:label="@string/title_activity_holzbewuchs"
                android:theme="@style/AppTheme"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".Schaeden_Regulierungsbauten"
                android:label="@string/title_activity_schaeden__regulierungsbauten"
                android:theme="@style/AppTheme"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".Abflussbehinderndeeinbauten"
                android:label="@string/title_activity_ablufssbehinderndeeinbauten"
                android:theme="@style/AppTheme"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".Wasserauseinleitung"
                android:label="@string/title_activity_wasserauseinleitung"
                android:theme="@style/AppTheme"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".Abflussbehinderung"
                android:label="@string/title_activity_abflussbehinderung"
                android:theme="@style/AppTheme"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name">
        </activity>
    </application>

</manifest>
